/mk_clib.mk


/winnt/info.err
/winnt/info.exe
/winnt/info.lk1
/winnt/info.map
/winnt/info.mk1
/winnt/info.obj
/winnt/info.sym

/winnt/test.err
/winnt/test.exe
/winnt/test.lk1
/winnt/test.map
/winnt/test.mk1
/winnt/test.obj
/winnt/test.sym

/winnt/hasher.err
/winnt/hasher.exe
/winnt/hasher.lk1
/winnt/hasher.map
/winnt/hasher.mk1
/winnt/hasher.obj
/winnt/hasher.sym
