/mk_clib_cryptor-MSVC-Debug-x86-32bit.txt
/mk_clib_cryptor-MSVC-Debug-x86-64bit.txt
/mk_clib_cryptor-MSVC-Release-x86-32bit.txt
/mk_clib_cryptor-MSVC-Release-x86-64bit.txt
/mk_clib_forwarder_tcp-MSVC-Debug-x86-32bit.txt
/mk_clib_forwarder_tcp-MSVC-Debug-x86-64bit.txt
/mk_clib_forwarder_tcp-MSVC-Release-x86-32bit.txt
/mk_clib_forwarder_tcp-MSVC-Release-x86-64bit.txt
/mk_clib_fuzz-MSVC-Debug-x86-32bit.txt
/mk_clib_fuzz-MSVC-Debug-x86-64bit.txt
/mk_clib_hasher-MSVC-Debug-x86-32bit.txt
/mk_clib_hasher-MSVC-Debug-x86-64bit.txt
/mk_clib_hasher-MSVC-Release-x86-32bit.txt
/mk_clib_hasher-MSVC-Release-x86-64bit.txt
/mk_clib_hosts-MSVC-Debug-x86-32bit.txt
/mk_clib_hosts-MSVC-Debug-x86-64bit.txt
/mk_clib_hosts-MSVC-Release-x86-32bit.txt
/mk_clib_hosts-MSVC-Release-x86-64bit.txt
/mk_clib_i2cp-MSVC-Debug-x86-32bit.txt
/mk_clib_i2cp-MSVC-Debug-x86-64bit.txt
/mk_clib_i2cp-MSVC-Release-x86-32bit.txt
/mk_clib_i2cp-MSVC-Release-x86-64bit.txt
/mk_clib_iip-MSVC-Debug-x86-32bit.txt
/mk_clib_iip-MSVC-Debug-x86-64bit.txt
/mk_clib_iip-MSVC-Release-x86-32bit.txt
/mk_clib_iip-MSVC-Release-x86-64bit.txt
/mk_clib_info-MSVC-Debug-x86-32bit.txt
/mk_clib_info-MSVC-Debug-x86-64bit.txt
/mk_clib_info-MSVC-Release-x86-32bit.txt
/mk_clib_info-MSVC-Release-x86-64bit.txt
/mk_clib_order-MSVC-Debug-x86-32bit.txt
/mk_clib_order-MSVC-Debug-x86-64bit.txt
/mk_clib_order-MSVC-Release-x86-32bit.txt
/mk_clib_order-MSVC-Release-x86-64bit.txt
/mk_clib_test-MSVC-Debug-x86-32bit.txt
/mk_clib_test-MSVC-Debug-x86-64bit.txt
